.logotitle {
    top: 0px;
    left: 0px;
    width: 1963px;
    height: 80px;
    display: flex;
    align-items: center;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    color: #FFFFFF;
    padding-left: 60px;
    text-transform: capitalize;
    opacity: 1;
}

.title {
    top: 32px;
    left: 246px;
    width: 127px;
    height: 52px;
    padding: left;
    font: normal normal bold 22px/25px Montserrat;
    letter-spacing: 0px;
    text-transform: capitalize;
    opacity: 1;
}

.title1 {
    color: #82A70C
}

.title2 {
    color: #42515F;
}

body {
    height: 1920px;
    margin: 0px;
    background-color: #F7F7F7;
}

.Dashboard {
    top: 156px;
    left: 188px;
    width: 217px;
    height: 37px;
    text-align: left;
    font: normal normal bold 24px/25px Roboto;
    letter-spacing: 0px;
    color: #42515F;
    opacity: 1;
    margin-top: 40px;
    padding-left: 59px;
}

.btns {
    margin-left: 1095px;
    margin-top: -30px;
}

#AddUser {
    top: 156px;
    left: 1522px;
    width: 146px;
    height: 43px;
    display: flex;
    font: normal normal normal 22px/29px Roboto;
    color: #FFFFFF;
    background: #82A70C 0% 0% no-repeat padding-box;
    border-radius: 5px;
    opacity: 1;
    align-items: center;
    justify-content: center;
}

.displaydata {
    margin-top: 40px;
}

.displaydata {
    margin-left: 53px;
    width: 1250px;
    height: 24px;
    background: 0% 0% no-repeat padding-box;
    border-radius: 3px 3px 0px 0px;
    border-collapse: collapse;
    opacity: 1;
}

.name {
    width: 250px;
}

.table-head {
    top: 254px;
    left: 188px;
    width: 1549px;
    height: 47px;
    background: #42515F 0% 0% no-repeat padding-box;
    border-radius: 3px 3px 0px 0px;
    opacity: 1;
}

tr:not(#tablehead) {
    top: 320px;
    left: 188px;
    width: 1549px;
    height: 65px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #E3E3E3;
    opacity: 1;
}

td:not(#tablehead, table tr td:nth-child(1), table tr td:nth-child(6)) {
    padding-left: 60px;
}

table tr td:nth-child(1) {
    padding-top: 14px;
    padding-left: 20px;
    display: flex;
    gap: 30px;
    align-items: center;
}

table tr td:nth-child(6) {
    padding-left: 20px;
}